<a href="https://colab.research.google.com/github/Raushang4/stockprice/blob/master/Regression_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import math
import pandas_datareader as web
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM,Dropout,Dense

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM,Dropout,Dense
import yfinance as yf

In [15]:
ticker="AAPL"
start_date="2020-01-01"
end_date="2023-05-12"
data=yf.download(ticker,start_date,end=end_date)
print(data)

[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  \
Date
2020-01-02   74.059998   75.150002   73.797501   75.087502   73.347931
2020-01-03   74.287498   75.144997   74.125000   74.357498   72.634850
2020-01-06   73.447502   74.989998   73.187500   74.949997   73.213623
2020-01-07   74.959999   75.224998   74.370003   74.597504   72.869286
2020-01-08   74.290001   76.110001   74.290001   75.797501   74.041481
...                ...         ...         ...         ...         ...
2023-05-05  170.979996  174.300003  170.759995  173.570007  173.330261
2023-05-08  172.479996  173.850006  172.110001  173.500000  173.260345
2023-05-09  173.050003  173.539993  171.600006  171.770004  171.532745
2023-05-10  173.020004  174.029999  171.899994  173.559998  173.320267
2023-05-11  173.850006  174.589996  172.169998  173.750000  173.510010

               Volume
Date
2020-01-02  135480400
2020-01-03  146322800
2020-01-06  118387200
2020-01-07  108872000
2020-01-08  132079200
...               ...
2023-05-05  113316400
2023-05-08   55962800
2023-05-09   45326900
2023-05-10   53724500
2023-05-11   49514700

[846 rows x 6 columns]

In [14]:
pip install yfinance

In [18]:
df=pd.DataFrame(data)
df.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-02  74.059998  75.150002  73.797501  75.087502  73.347931  135480400
2020-01-03  74.287498  75.144997  74.125000  74.357498  72.634850  146322800
2020-01-06  73.447502  74.989998  73.187500  74.949997  73.213623  118387200
2020-01-07  74.959999  75.224998  74.370003  74.597504  72.869286  108872000
2020-01-08  74.290001  76.110001  74.290001  75.797501  74.041481  132079200

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 846 entries, 2020-01-02 to 2023-05-11
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       846 non-null    float64
 1   High       846 non-null    float64
 2   Low        846 non-null    float64
 3   Close      846 non-null    float64
 4   Adj Close  846 non-null    float64
 5   Volume     846 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 46.3 KB

In [20]:
df['date']=pd.to_datetime(df.index)
df.head()

,Open,High,Low,Close,Adj Close,Volume,date
Date,,,,,,,
2020-01-02,74.059998,75.150002,73.797501,75.087502,73.347931,135480400,2020-01-02
2020-01-03,74.287498,75.144997,74.125000,74.357498,72.634850,146322800,2020-01-03
2020-01-06,73.447502,74.989998,73.187500,74.949997,73.213623,118387200,2020-01-06
2020-01-07,74.959999,75.224998,74.370003,74.597504,72.869286,108872000,2020-01-07
2020-01-08,74.290001,76.110001,74.290001,75.797501,74.041481,132079200,2020-01-08